/* BingSearch.css */

#BingSearch.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  #BingSearch .box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 100px;
    margin-bottom: 50px;
  }
  
  