form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  
  
}
label {
  display: block;
  width: 100px;
  text-align: left;
  margin-right: 140px;
}

input {
  flex: 1;
  margin-left: 10px;
  
}
textarea {
  flex: 1;
  margin-left: 10px;
  padding:40px;
}
  
  button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: #0077c2;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005ea5;
  }
  