.container {
    padding: 10px;
}
.box {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
#News ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
#News li {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
#News li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  
#News h3 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #020C43;
  }
  
#News p {
    margin: 0 0 10px;
    color: #020C43;
  }
  
#News a {
    color: #020C43;
    text-decoration: none;
    
  }
  
#News a:hover {
    text-decoration: underline;
  }
  